{block content}
<h2 class="mb-4">Seznam uživatelů</h2>

<div class="mb-3">
    <a href="{link User:add}" class="btn btn-success">Přidat uživatele</a>
</div>

<div class="table-responsive">
    {control usersGrid}
</div>
{/block}
